<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8" />
</head>

<body>
	<section class="layout-content" layout:fragment="mybody">

		<div class="container">
			
			<div class="my-4">
										<h3>Bewerten</h3>
						</div>
			
			<form th:action="@{/rating/tutorial/{tutorialId}(tutorialId=${tutorialId})}" th:object="${rating}"
				method="POST">
				<div class="form-row mt-3">
					<div class="form-rating col-md-6">
						<label class="form-label">Score</label>
						<div class="d-flex justify-content-between"> <span id="range-value-1">1</span> <span
								id="range-value-2">2</span> <span id="range-value-3">3</span> <span
								id="range-value-4">4</span> <span id="range-value-5">5</span>
						</div>
						<input th:field="*{ratingScore}" type="range" class="form-range" min="1" max="5" step="1">
					</div>
					<div class="form-row mt-3">
						<div class="form-rating col-md-6">
							<label>Bewertungstext</label>
							<input type="text" class="form-control" placeholder="Warum" th:field="*{ratingText}" />
						</div>
					</div>
					<button type="submit" class="btn btn-primary my-3">Bewerten</button>
			</form>
		</div>

	</section>
</body>

</html>