<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>

<body>
	<section class="layout-content" layout:fragment="mybody">
	        <div class="container">
      	
	            <form th:action="@{/channel/update}" 
	                  th:object="${channel}" method="POST">
	                  
	                
					  <div class="form-row mt-4">
					                     <div class="form-group col-md-6">
					                         <label for="channelname">Kanalname</label>
					                         <input type="text" class="form-control" id="channelname" placeholder="Kanalname"
					                                autofocus="autofocus" th:field="*{channelname}" 
					                                th:classappend="${#fields.hasErrors('channelname')} ? 'is-invalid'" />
					                         <div class="invalid-feedback">
					                             <span th:errors="*{channelname}"></span>
					                         </div>
					                     </div>
					                 </div>   
	            	
	                    
	                  
	                <div class="form-row mt-4">
		                <div class="form-group col-md-6">
		                        <label for="description">Beschreibung</label>
		                        <input type="text" class="form-control" id="description" placeholder="Beschreibung"
		                               th:field="*{description}" 
		                               th:classappend="${#fields.hasErrors('description')} ? 'is-invalid'" />
		                        <div class="invalid-feedback">
									<span th:errors="*{description}"></span>
		                        </div>
		                 </div>
	                    
	                </div>
      
					<input type="hidden" id="creationDate" th:field="*{creationDate}"/>
	                <input type="hidden" id="channelId" th:field="*{channelId}"/>
	                
					<button type="submit" class="btn btn-primary my-4">Aktualisieren</button>
	            </form>
	        </div>

		
	</section>		
</body>
</html>