<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8" />
</head>

<body>
	<section class="layout-content mt-2" layout:fragment="mybody">
		
		
		
		<div class="container-fluid text-center mt-4" th:unless="${tutorial.size() > 0}">
							<h3>Keine Tutorials</h3>
						</div>
		
		
		<div class="container mt-4" th:if="${tutorial.size() > 0}">
			
			<div class="my-4">
									<h3>Tutorials von Abonnierten Kanälen</h2>
								</div>
			
			<div class="row">
				<div class="col-md-4 mb-4" th:each="element : ${tutorial}"> <a class="card text-decoration-none"
						th:href="@{/history/track/{tutorialid}(tutorialid=${element.tutorialId})}">
						<video th:unless="${#strings.isEmpty(element.videoUrl)}" th:src="${element.videoUrl}"
							class="card-img-top"></video>
						<div class="card-body">
							<h5 class="card-title " th:text="${element.Title}"></h5>
							<p class="card-text" th:text="${element.contentText}"></p>
						</div>
					</a>
				</div>
			</div>
		</div>

	</section>
</body>

</html>