<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8" />
</head>

<body>
	<section class="layout-content" layout:fragment="mybody">
		<div class="">
			<p>This is the category page</p>
		</div>
		<div class="container">
			<p th:text="${category.categoryName}"></p>
			<table class="table table-striped table-bordered" style="width: 80%">
				<thead class="table-dark">
					<tr>
						<th>View</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="element : ${category.tutorials}">
						<td> <a class="card" style="max-width: 18rem; min-height: 10rem;"
								th:href="@{/history/track/{tutorialid}(tutorialid = ${element.tutorialId})}">
								<span th:text="${element.title}"> </a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>


	</section>
</body>

</html>