<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>

<body>
	<section class="layout-content" layout:fragment="mybody">

	        <div class="container">

		
				<form th:action="@{/category/update}"
				                 th:object="${category}" method="POST">
							  
					 <div class="form-row mt-3">
 	                     <div class="form-category col-md-6">
 	                         <label for="name">Kategorie Name</label>
 	                         <input type="text" class="form-control" id="name"
 	                                autofocus="autofocus" th:field="*{categoryName}" 
 	                                th:classappend="${#fields.hasErrors('categoryName')} ? 'is-invalid'" />
 	                         <div class="invalid-feedback">
 	                             <span th:errors="*{categoryName}"></span>
 	                         </div>
 	                     </div>
 	                 </div>  
					 <input type="hidden"  th:field="*{categoryId}"/>
	               <button type="submit" class="btn btn-primary my-3">Speichern</button>
	           </form>
	        </div>

		
	</section>		
</body>
</html>