<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>

<body>
	<section class="layout-content" layout:fragment="mybody">
	        <div class="container">

		
				<form th:action="@{/group/update}"
				                 th:object="${group}" method="POST">
							  
					 <div class="form-row mt-3">
 	                     <div class="form-group col-md-6">
 	                         <label for="name">Gruppenname</label>
 	                         <input type="text" class="form-control" id="name" placeholder="Gruppenname"
 	                                autofocus="autofocus" th:field="*{name}" 
 	                                th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'" />
 	                         <div class="invalid-feedback">
 	                             <span th:errors="*{name}"></span>
 	                         </div>
 	                     </div>
 	                 </div>  

					 <div class="form-row mt-3">
					     <div class="form-group col-md-6">
					             <label for="description">Beschreibung</label>
					             <input type="text" class="form-control" id="description" placeholder="Beschreibung"
					                    th:field="*{description}" 
					                    th:classappend="${#fields.hasErrors('description')} ? 'is-invalid'" />
					             <div class="invalid-feedback">
					 				<span th:errors="*{description}"></span>
					             </div>
					      </div>
					 </div>
					 <input type="hidden" id="creationDate" th:field="*{creationDate}"/>
					 <input type="hidden" id="groupId" th:field="*{groupId}"/>
					 <input type="hidden" id="groupOwner" th:field="*{groupOwner}"/>
	               <button type="submit" class="btn btn-primary my-3">Aktualisieren</button>
	           </form>
	        </div>

		
	</section>		
</body>
</html>