<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8" />

	<script type="text/javascript">

		$(document).ready(function () {

			window.setTimeout(function () {
				$(".alert").fadeTo(1000, 0).slideUp(1000, function () {
					$(this).remove();
				});
			}, 5000);

		});
	</script>
</head>

<body>
	<section class="layout-content" layout:fragment="mybody">
		<div class="container">
			<div class="content">
				<h3 class="my-4" th:text="${user.username}"></h3>
			</div>
			<div class="content"> <strong>Email:</strong>
				<p th:text="${user.email}"></p>
			</div>
			<div class="content"> <strong>Geburstdatum:</strong>
				<p th:text="${user.birthDate}"></p>
			</div>
			<div th:if="${!user.isUsingOauth}">

				<a th:href="@{/user/changemypassword}" class="btn btn-danger mb-3">Passwort ändern</a>

				<div class="container" id="passwordchange">
					<div th:replace="~{fragments/alert::alert}"></div>
				</div>

				<div th:if="${#authentication.principal.using2FA}">
					<a th:href="@{my/deactivate2fa}" class="btn btn-danger mb-3">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
							class="bi bi-google" viewBox="0 0 16 16">
							<path
								d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z" />
						</svg>
						2FA deaktivieren
					</a>
				</div>
				<div th:if="${!#authentication.principal.using2FA}">

					<a th:href="@{my/activate2fa}" class="btn btn-success mb-3">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
							class="bi bi-google" viewBox="0 0 16 16">
							<path
								d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z" />
						</svg>
						2FA aktivieren
					</a>
				</div>
			</div>
			<a th:href="@{/wallet/create}" class="btn btn-primary mb-3" th:unless="${wallet!=null}"> <svg
					xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet2"
					viewBox="0 0 16 16">
					<path
						d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5z" />
				</svg>Geldbeutel erstellen</a>
			<a th:href="@{/wallet/my}" class="btn btn-primary mb-3" th:if="${wallet!=null}"> <svg
					xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet2"
					viewBox="0 0 16 16">
					<path
						d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5z" />
				</svg>Geldbeutel öffnen</a>
			<div class="row" sec:authorize="!hasAuthority('CREATOR_RIGHTS')">
				<div class="col-lg-3">
					<a th:href="@{/channel/create}" class="btn btn-primary mb-3">Kanal erstellen</a>
				</div>
			</div>
			<div class="row" sec:authorize="hasAuthority('CREATOR_RIGHTS')">

				<div class="col-lg-3 mb-3">
					<a th:href="@{/channel/delete/{id}(id=${channel.channelId})}" class="btn btn-danger" sec:authorize="!hasAuthority('ADMIN_RIGHTS')"><svg
							xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
							class="bi bi-trash" viewBox="0 0 16 16">
							<path
								d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
							<path fill-rule="evenodd"
								d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
						</svg>Kanal löschen</a>
				</div>
			</div>
			<a th:href="@{/user/delete}" class="btn btn-danger mt-3">Account löschen</a>
	</section>
</body>

</html>