<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>

<body>
	<section class="layout-content" layout:fragment="mybody">
		<div class="container">
			<h1>User Details</h1>
			<div class="content"> <strong>Username:</strong>
				<p th:text="${user.username}"></p>
			</div>
			<div class="content"> <strong>Email:</strong>
				<p th:text="${user.email}"></p>
			</div>
			<div class="content"> <strong>Birthdate:</strong>
				<p th:text="${user.birthDate}"></p>
			</div>
		</div>
	</section>		
</body>
</html>
