<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8" />

</head>

<body>
	<section class="layout-content" layout:fragment="mybody">
		<div class="container mt-5"> <!-- Wallet Information -->
			<div class="card mb-4 text-center">
				<div class="card-body">
					<h1 class="card-title">Geldbeutel</h1>
					<p class="card-text"><strong>Betrag:</strong> <span th:text="${wallet.amount}"></span></p>
				</div>
			</div> <!-- Wallet Plan Information -->
			<div class="card mb-4 text-center">
				<div class="card-body d-flex justify-content-center">
					<h2 class="card-text"><span th:text="${wallet.walletPlan}"></span></h2>
					<div>&nbsp;</div>
					<button type="button" class="btn btn-primary btn-sm " data-bs-toggle="modal"
						data-bs-target="#exampleModal">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
							class="bi bi-info-lg" viewBox="0 0 16 16">
							<path
								d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0" />
						</svg>
					</button>
				</div>
				<div class="text-center mb-4"> <a class="btn btn-info" th:href="@{/wallet/upgrade}"
						th:if="${wallet.walletPlan.benefit != 0.7}">Vorteile erhöhen</a> </div> <!-- Alert Message -->
				<!-- Button trigger modal -->

				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="exampleModalLabel">Kostenplan</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<p> Multiplikator für Spenden</p>
								<p> BASIC = 1.0 </p>
								<p> BASICPLUS = 0.9 Kosten=100</p>
								<p> PREMIUM = 0.8 Kosten=200</p>
								<p> PRO = 0.7 Kosten=300</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:replace="~{fragments/alert::alert}"></div>
			<div class="accordion mb-4">
				<div class="accordion-item">
					<h2 class="accordion-header"> <button class="accordion-button" type="button"
							data-bs-toggle="collapse" data-bs-target="#received" aria-expanded="true"
							aria-controls="#received">
							Erhaltene Spenden
						</button>
					</h2>
					<div id="received" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
						<div class="card">
							<div class="card-body">
								<div class="row">

									<div class="col fw-bold">Transaktions Nummer</div>
									<div class="col fw-bold">Sender</div>
									<div class="col fw-bold">Betrag</div>

								</div>
								<div th:each="element: ${transactionsReceived}">
									<hr class="my-4">
									<div class="row">
										<div class="col" th:text="${element.transactionId}"></div>
										<div class="col" th:text="${element.transactionSender.walletOwner.username}">
										</div>
										<div class="col" th:text="${element.transactionAmount}"></div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- Transactions Sent -->
			<div class="accordion mb-4">
				<div class="accordion-item">
					<h2 class="accordion-header"> <button class="accordion-button" type="button"
							data-bs-toggle="collapse" data-bs-target="#received2" aria-expanded="true"
							aria-controls="#received2">
							Gesendete Spenden
						</button>
					</h2>
					<div id="received2" class="accordion-collapse collapse " data-bs-parent="#accordionExample2">
						<div class="card">
							<div class="card-body">
								<div class="row">

									<div class="col fw-bold">Transaktions Nummer</div>
									<div class="col fw-bold">Empfänger</div>
									<div class="col fw-bold">Betrag</div>

								</div>
								<div th:each="element: ${transactionsReceived}">
									<hr class="my-4">
									<div class="row">
										<div class="col" th:text="${element.transactionId}"></div>
										<div class="col" th:text="${element.transactionReceiver.walletOwner.username}">
										</div>
										<div class="col" th:text="${element.transactionAmount}"></div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
	</section>
</body>

</html>