<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>

<body>
	<section class="layout-content" layout:fragment="mybody">
	        <div class="container" id="registration">
	        
	        	        
	            <form th:action="@{/user/passwordchanged}" 
	                  th:object="${user}" method="POST">
	                  

					<div class="form-row">
					    <div class="form-group col-md-6">
					        <label for="password">New Password</label>
					        <input type="password" class="form-control" id="password" placeholder="Password"
					               th:field="*{password}"/>
					    </div>
					</div>       
					       
					<input type="hidden" id="userId" th:field="*{userId}"/>
					<input type="hidden" id="birthDate" th:field="*{birthDate}"/>
					<input type="hidden" id="email" th:field="*{email}"/>
					<input type="hidden" id="username" th:field="*{username}"/>
					<br/>
					<button type="submit" class="btn btn-primary btn-sm">Change Password</button>
					<input type="hidden" id="token" name="token" th:value="${token}">
	            </form>
	        </div>

		
	</section>		
</body>
</html>