<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>

<body>
	<section class="layout-content" layout:fragment="mybody">
		<div class="">
			<p>This is the channel page</p>
		</div>
		<p th:text = ${channel.channelname}></p>
		<div th:each="element : ${tutorials}">
		   <p>
		   <a class="btn btn-info" th:href="@{/tutorial/view/{id}(id = ${element.tutorialId})}">View Tutorial <span th:text="${element.tutorialId}"> </a>
		</div>
		
				
	</section>		
</body>
</html>
