<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<meta charset="ISO-8859-1">
	<title>Subscribed Channels</title> <!--maybe change later-->

	<script type="text/javascript">

		$(document).ready(function () {

			window.setTimeout(function () {
				$(".alert").fadeTo(1000, 0).slideUp(1000, function () {
					$(this).remove();
				});
			}, 5000);

		});
	</script>


</head>

<body>

	<section class="layout-content" layout:fragment="mybody">
		<div class="container mt-2">
						<h3>Abonnierte Kanäle</h3>
					</div>

		<div class="container" id="channelmessages">
			<div th:replace="~{fragments/alert::alert}">
			</div>

			<div class="container-fluid text-center" th:unless="${channels.size() > 0}">
				<h2>Keine Kanäle abonniert</h2>
			</div>

			<table class="table table-striped table-bordered" th:unless="${channels.size()<1}" style="width: 90%">
				<thead class="table-dark">
					<tr>
						<th> Name</th>
						<th> Beschreibung </th>
						<th> Actions </th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="channel: ${channels}">
						<td th:text="${channel.channelname}"></td>
						<td th:text="${channel.description}"></td>
						<td>
							<a th:href="@{/channel/view/{id}(id=${channel.channelId})}" class="btn btn-info">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
									<path fill-rule="evenodd"
										d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" />
									<path fill-rule="evenodd"
										d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" />
								</svg>
							</a>
						</td>
					</tr>
				</tbody>
			</table>

	</section>
</body>

</html>