<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>

<body>
	<section class="layout-content" layout:fragment="mybody">
			
		<p>You can create a Post here</p>
		<form action="/tutorial/upload" th:object="${tutorial}" method="post">
			<div class="form-group">
				<label>Title</label>
				<input type="text" th:field="*{title}" name="title" class="form-control" placeholder="Mein Titel">
			</div>
			<div class="form-group">
				<label>Beschreibung</label>
				<textarea class="form-control" id="beschreibung" rows="3"></textarea>
			</div>
			<input type="hidden"  th:field="*{likes}"/>
			<input type="hidden"  th:field="*{dislikes}"/>
			<button class="btn btn-info" type="submit">Upload</button>
		</form>		
	</section>		
</body>
</html>
