<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>

<body>
	<section class="layout-content" layout:fragment="mybody">
			

	        <div class="container">
	        
	        	        
	            <form th:action="@{/tutorial/upload}" 
	                  th:object="${tutorial}" method="POST">
	                  
	                
					  <div class="form-row">
	                     <div class="form-group">
	                         <label >Title</label>
	                         <input type="text" class="form-control" 
	                                autofocus="autofocus" th:field="*{title}" placeholder="Mein RTL"
	                                th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" />
	                         <div class="invalid-feedback">
	                             <span th:errors="*{title}"></span>
	                         </div>
	                     </div>
						 <div class="form-group">
							<label >Kategorie</label>
							<select name="categorySelection" class="form-control">
								<option th:each="element : ${categories}" th:value="${element.categoryId}" th:text="${element.categoryName}"></option>
							</select>
						 </div>
						 <div class="form-group">
 			  					<label>Beschreibung</label>
 			  					<textarea class="form-control" th:field="*{contentText}" th:classappend="${#fields.hasErrors('contentText')} ? 'is-invalid'" rows="3"></textarea>
								<div class="invalid-feedback">
								      <span th:errors="*{contentText}"></span>
								</div>	
 			  			</div>
						
 								
					  </div>   
					  	
	                  
					  <input type="hidden"  th:field="*{creationTime}"/>
					  <input type="hidden"  th:field="*{likes}"/>
					  <input type="hidden"  th:field="*{dislikes}"/>
					  <input type="hidden"  th:field="*{createdByChannel}"/>
					  

					<button type="submit" class="btn btn-primary btn-sm">Upload</button>
	            </form>
	        </div>

		
	</section>		
</body>
</html>