<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8" />
</head>

<body>
	<section class="layout-content" layout:fragment="mybody">

		<div class="container">


			<form th:action="@{/tutorial/update}" th:object="${tutorial}" method="POST">


				<div class="form-row">
					<div class="form-group col-md-6">
						<label>Title</label>
						<input type="text" class="form-control" autofocus="autofocus" th:field="*{title}"
							th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" />
						<div class="invalid-feedback">
							<span th:errors="*{title}"></span>
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group">
						<label>Kategorie</label>
						<select name="categorySelection" class="form-control">
							<option th:each="element : ${categories}" th:value="${element.categoryId}"
								th:text="${element.categoryName}" th:selected="${element.categoryId} == ${tutorial.tutorialCategory.categoryId}"></option>
						</select>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label>Title</label>
						<textarea type="text" class="form-control" autofocus="autofocus" th:field="*{contentText}"
							th:classappend="${#fields.hasErrors('contentText')} ? 'is-invalid'"></textarea>
						<div class="invalid-feedback">
							<span th:errors="*{contentText}"></span>
						</div>
					</div>
				</div>



				<input type="hidden" th:field="*{likes}" />
				<input type="hidden" th:field="*{dislikes}" />
				<input type="hidden" th:field="*{tutorialId}" />
				<input type="hidden" th:field="*{creationTime}" />
				<input type="hidden" th:field="*{createdByChannel}" />
				<input type="hidden"  th:field="*{videoUrl}"/>

				<button type="submit" class="btn btn-primary btn-sm">Update</button>
			</form>
		</div>


	</section>
</body>

</html>