<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8" />
</head>

<body>
	<section class="layout-content mt-2" layout:fragment="mybody">


		<div class="container" th:if="${advertisement} != null">
			<div class="content" th:unless="${#strings.isEmpty(tutorial.videoUrl)}">
				<video width="640" height="360" th:src="@{${advertisement}}" id="myvideo" type="video/mp4" autoplay>
					Your browser does not support the video tag.
				</video>
			</div>
			
			<div class="content" th:unless="${#strings.isEmpty(tutorial.videoUrl)}">
				<h3 id="adwarning">Werbung</h3>
			</div>
			<!--js to swap videos for ad-->
			<script th:inline="javascript">
				var myvid = document.getElementById('myvideo');
				var warning = document.getElementById('adwarning');
				var myvids = [
					[[${advertisement}]],
					[[${tutorial.videoUrl}]]
				];
				var activeVideo = 0;
				myvid.addEventListener('ended', myHandler, false);
				function myHandler(e) {
					if (adwarning.innerText === "Werbung") {
						adwarning.innerText = ""
					} else {
						adwarning.innerText = "Werbung"
					}
					if (myvid.hasAttribute("controls")) {
						myvid.removeAttribute("controls")
					} else {
						myvid.setAttribute("controls", "controls")
					}
					activeVideo = (++activeVideo) % myvids.length;
					myvid.src = myvids[activeVideo];
					myvid.play();
				}
			</script>
		</div>
		<div class="container" th:unless="${advertisement} != null">
			<div class="content" th:unless="${#strings.isEmpty(tutorial.videoUrl)}">
				<video width="640" height="360" th:src="@{${tutorial.videoUrl}}" controls id="myvideo" type="video/mp4"
					autoplay>
					Your browser does not support the video tag.
				</video>
			</div>
		</div>
		<div class="container d-flex align-items-center">
			<div class="me-2 btn btn-secondary align-items-center">
				<span th:if="${tutorial.tutorialCategory != null}" th:text="${tutorial.tutorialCategory.categoryName}"></span>
				<span th:if="${tutorial.tutorialCategory == null}">Keine Kategorie</span>
			</div>
			<h3 class="mb-0" th:text="${tutorial.title}"></h3>
		</div>
		
		<div class="container mt-2">
			<a th:href="@{/tutorial/ratings/{id}(id=${tutorial.tutorialId})}" class="text-decoration-none mb-0" th:text="${'⌀ Bewertung: '+ avgScore}"></a>
			<p th:text="${tutorial.contentText}"></p>
		</div>
		<div class="container d-flex">
			<p>Erstellt am: &nbsp;</p>
			<p th:text="${tutorial.creationTime}"></p>
		</div>

		<hr class="my-4">

		<div class="container-fluid d-flex mt-2">
			<form class="container-fluid d-flex" th:action="@{/comment/{id}/create(id=${tutorial.tutorialId})}"
				th:object="${comment}" method="POST">
				<div class=" d-flex flex-grow-1 align-items-center">
					<div class="container m-0">
						<input type="text" class="form-control" id="content" placeholder="Kommentar"
							th:field="*{content}" th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'" />
						<div class="invalid-feedback">
							<span th:errors="*{content}"></span>
						</div>
					</div>

					<button type="submit" class="btn btn-primary">Kommentieren</button>

				</div>

				<input type="hidden" id="commentId" th:field="*{commentId}" />
				<input type="hidden" id="creationDate" th:field="*{creationDate}" />

			</form>
			<a class="btn btn-success me-1"
				th:href="@{/rating/tutorial/{tutorialId}(tutorialId = ${tutorial.tutorialId})}">
				Bewerten
			</a>

			<a th:href="@{/watchLater/save/{id}(id=${tutorial.tutorialId})}" class="btn btn-warning me-1">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
					class="bi bi-bookmark" viewBox="0 0 16 16">
					<path
						d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z" />
				</svg>
			</a>

			<a class="btn btn-danger" th:href="@{/report/tutorial/{id}(id = ${tutorial.tutorialId})}">			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
			  <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"/>
			  <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
			</svg>
			</a>
			
			<a class="btn btn-secondary ms-1" th:href="@{/api/report/pdf/{id}(id = ${tutorial.tutorialId})}">PDF</a>
		</div>

		<hr class="my-4">
		<div class="container mt-2">
			<div th:each="element: ${tutorial.attachedComments}">
				<div class="d-flex">
					<div>
						<h5 th:text="${element.commentOwner.username}"></h5>
					</div>
					<span>&nbsp;:</span>
					<div class="container flex-grow-1 text-left">
						<p th:text="${element.content}"></p>
					</div>
					<div style="min-width: 100px;">
						<p th:text="${element.creationDate}"></p>
					</div>					
				</div>



			</div>
		</div>

	</section>
</body>

</html>